.inactive-bar
{
    position: fixed;
    width: 70px;
    top: 0;
    left: 0;
    height: 100%;
    background: #212529;
    list-style: none;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

.img-container img
{
    width: 50px;
    height: 42px;
    margin: 20px 20px;
}

.icons-container
{
    margin-top: 42px;
}

.icons-container li
{
    line-height: 45px;
    text-indent: 12px;
}


.logout-container li
{   
    line-height: 45px; 
    text-indent: 12px;  
    bottom: 20px;
}

.icons-container li a, .logout-container li a
{
    display: block;
    text-decoration: none;
    color: #fff;
}

.icons-container li a
{
    border-bottom: 0.1px solid #323232;
}

.icons-container li a:hover, .logout-container li a:hover
{
    background: #2E343B;
}

.icons
{
    position: relative;
    top: 0;
    width: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.logout-container
{
    margin-top: 3px;
    width: 70px;
    height: 15%;
}

.active-bar
{
    position: fixed;
    margin-left: 70px;
    width: 200px;
    height: 100%;
    display: none;
    background: #212529;
    transition: display 1s ease;
}

.activate 
{
    z-index: 50;
    width: 270px !important;
    transition: all 0.5s ease;
}

.bar-link
{
    width: 270px;
    display: inline-block;
}

.nav-container
{
    z-index: 1000;
    position: sticky;
    top: 0;
    margin-left: 70px;
    transition: all 0.5s ease;
    z-index: 1000;
}

.nav-user
{
    background: #212529;
    color: white;
}

.fix-content
{
    min-width: 30px;
    margin-right: 50px;
}

.user-name
{
    align-content: center;
    padding: 5px 15px;
    font-size: 16px;
}

.menu-container
{
    margin: 17.5px;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3
{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1
{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2
{
    opacity: 0;
}

.change .bar3
{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
}

.move-off-canvas
{
    margin-left: 270px !important;
    transition: all 0.5s ease;
}

.content-main
{
    margin-left: 70px;
    z-index: 1;
    transition: all 0.5s ease;
}

@media(max-width: 768px)
{
    .nav-container
    {
        display: none;
    }

    .inactive-bar
    {
        z-index: 50;
    }
    
    .activate
    {
        z-index: 50;
        width: 100% !important;
        height: 100% !important;
    }

    .inactive-bar
    {
        width: 100%;
        height: 70px;
    }

    .content-main
    {
        margin-top: 70px;
        margin-left: 0;
    }

    .bar-link
    {
        width: 90%;
        margin-left: 2.5%; 
        margin-right: 2.5%;
    }

    .icons, .logout-container
    {
        width: 100% !important;
    }

    .move-off-canvas
    {
        margin-left: 0px !important;
        z-index: -1;
    }
}
