@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*:not(i) {
    font-family: 'Roboto', sans-serif !important;
}

#iniciarSesionModal{
    display: none;
    padding: 25px;
    width: 100%;
    text-align: center;
}
#inputEmail, #inputPassword, #btnIniciar{
    width: 70%;
}
#btnBuscar{
    border: 1px solid #0069D9;
    color: #0069D9;
}
#btnBuscar:hover, #btnEnviar:hover{
    border: 1px solid #0069D9;
    background-color: #0069D9;
    color: white;
}
#opcionesMenu{
    width: 100%;
}
#salir{
    width: 5%;
}

.Imagen {
    padding: 20px;
}
.Imagen img{
    /* height: 150px;
    width: 200px; */
    /* margin-left: 15%; */
}
.footer-dark{
    width: 100%;
    background-color: #343A40;
    color: white;
    text-align: center;
    position: absolute;
}
.contenido{
    padding: 20px 50px 0px 50px;
    text-align: justify;
    font-size: 16px;
    font-family: arial;
}

.contenido-mv {
    line-height: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.row{
  margin: 1%;
}
.container{
    padding: 2%;
}
hr{
    background-color: orange;
    border: 3px solid orange;
}
#btnEnviar, #btnGenerarNot, #btnNuevaNot, #btnEditNot, #registrar{
  width: 150px;
  float: right;
}
#btnGenerarNot:hover, #btnNuevaNot:hover, #btnEditNot:hover{
    border: 1px solid orange;
    background-color: orange;
    color: white;
}
#registrar:hover{
    border: 1px solid blue;
    background-color: blue;
    color: white;
}
#btnNuevaNot a:link, #btnNuevaNot a:visited{
    text-align: center;
    text-decoration: none;
    color: black;
}
#btnNuevaNot a:hover{
    color: white;
}
.emp-profile{
    padding: 13px;
    margin-top: 20px;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
#file-preview-zone{
    border: 1px solid #CED4DA;
    border-radius: 2px;
    height: 300px;
}
#file-preview-zone img{
    max-width: 700px;
    max-height: 300px;

}
#tablaNoticias{
  font-family: Arial, Helvetica;
  border-collapse: collapse;
  width: 100%;
}
#tablaNoticias td, #tablaNoticias th{
  border: 1px solid black;
  padding: 8px;
}
#tablaNoticias th{
  padding-top: 12px;
  padding-top: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

#btnEditar,#btnEliminar{
  width: 80px;
  color: white;
  padding: 5px 11px;
  margin: 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#btnEditar{
  background-color: darkgreen;
}
#btnEliminar{
  background-color: darkred;
}
#btnEditar:hover{
  background-color: green;
}
#btnEliminar:hover{
  background-color: red;
}
#btnEditar a:link, #btnEditar a:visited, #btnEliminar a:link, #btnEliminar a:visited{
  color: white;
  text-align: center;
  text-decoration: none;
}
div.bodyTablaMisNoticias{
  overflow-y: scroll;
  height: 350px;
}
#divVerMisNoticias{
    padding: 2% 5% 5% 5%;
    height: 580px;
}
div.scrollTabla{
  background-color: white;
  overflow-y: scroll;
  width: 100%;
  height: 480px;
  max-height: 480px;
}
#picChange, #cancelar, #editar,#btnCambiarFoto{
    border-radius: 5px;
    background-color: #DDDDDD;
    border: 1px solid #DDDDDD;
    width: 150px;
    padding: 1%;
    cursor: pointer;

}
#picChange:hover, #cancelar:hover, #editar:hover,#btnCambiarFoto:hover{
    color: white;
    background-color: blue;
    border: 1px solid blue;
}
#nota{
    padding: 0% 2% 2% 2%;
    text-align: justify;
}
.mostrar{
    display: block;
}
.ocultar{
    display: none;
}
#btnCambiarFoto{
    width: 70%
}
#btnCambiarFoto a:hover{
    color: white;
}
#btnCambiarFoto a:link, #btnCambiarFoto a:visited{
    color: black;
  text-align: center;
  text-decoration: none;
}
#file-preview-zone-user img{
    width: 250px;
    height: 250px;
}
#UserPhoto img{
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}

.link-new
{
    color: #000000;
    font-size: 17px;
    font-weight: 500;
}

.new-container
{
    margin-top: 2%;
    margin-bottom: 2%;
}

.link-new:hover
{
    color: orange;
}

.btn-new
{
    width: 100%;
}

.noticias
{
    background-color: #FDFDFD;
}


.new-document
{
    visibility: hidden;
    display: none;
}

.new-document:hover
{
    cursor: pointer;
}

.new-container label{
    font-weight: 600;
}
.new-container p{
    font-weight: 600;
    color: #0062cc;
}
.hiddenRow {
    padding: 0 !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.investigaciones-display
{
    position: fixed;
    margin-left: 20px;
    width: 200px;
    border-radius: 10px;
    background: white;
    height: 100%;
    display: inline-block;
    min-width: 200px;
    margin-top: auto;
    font-size: 14px;
    font-weight: 700;
}


.header
{
    width: 100%;
    margin: 2% 0 2% 0;
    border-bottom: 1px solid orange;
    padding: 15px;
    text-align: left;
}

.content
{
    overflow-y: auto;
}

.investigaciones-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.investigaciones-list li
{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.investigaciones-list li img
{
    padding-bottom: 10px;
}

.img-perfil-container
{
    display: inline-block;
    min-width: 45px;
    width: 25%;
}

.investigacion-container
{
    display: block;
    width: 100%;
}

.perfil-container
{
    display: block;
    vertical-align: top;
}

.perfil-container a
{
    font-size: 12px;
}

.content-fed
{
    display: flex;
    overflow: hidden;
}
#lista_investigaciones ul{
    list-style:none;
}
#lista_investigaciones li a {
	text-decoration: none;
}
#lista_investigaciones{
    padding-top: 20px;
    border-radius: 5px;
    background-color: #ffffcc;
}
