#iniciarSesionModal{
    display: none;
    padding: 25px;
    width: 100%;
    text-align: center;
}
#inputEmail, #inputPassword, #btnIniciar{
    width: 70%;
}
#btnBuscar{
    border: 1px solid #0069D9;
    color: #0069D9;
}
#btnBuscar:hover{
    border: 1px solid #0069D9;
    background-color: #0069D9;
    color: white;
}
.Imagen {
    padding: 20px;
}
.Imagen img{
    width: 95%;
}
.footer-dark{
    width: 100%;
    background-color: #343A40;
    color: white;
    text-align: center;
    position: absolute;
}
.contenido{
    padding: 20px 50px 0px 50px;
    text-align: justify;
    font-size: 16px;
    font-family: arial;
}
.row{
  margin: 1%;
}
#btnEnviar{
  width: 150px;
  float: right;
}
